127.0.0.1	localhost
::1		localhost ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

172.16.1.8 omv omv.orbital.local
172.16.1.9 monitor monitor.orbital.local
172.16.1.253 green green.orbital.local
172.16.1.254 blue blue.orbital.local