disable_mlock = true

hcp_boundary_cluster_id = "d67b8677-2f28-4e4b-981f-414958ae11b6"

listener "tcp" {
  address = "0.0.0.0:9254"
  purpose = "proxy"
}

worker {
  public_addr = "31.125.7.3:{{ boundary_port }}"
  auth_storage_path = "/opt/boundary/worker"
  tags {
    type = ["private"]
  }
  recording_storage_path = "/opt/boundary/worker/recording"
  recording_storage_minimum_available_capacity = "500MB"
}